@import 'tailwindcss/preflight';
@import 'tailwindcss/utilities';
@import 'tailwindcss';

@theme {
  --color-active: #0083ff;
  --color-primary: #293553;
  --color-secondary: #4FE09C;
  --color-neutral: #77838B;
  --color-line: #acacac;
}
